<p>
  Dear, <%= @user.full_name %>
</p>

<p>
  Will you go with us on lounch?
</p>


<p>
  <a href="<%= accept_url %>?token=<%= @user.token %>">Yes</a>
  -
  <a href="<%= reject_url %>?token=<%= @user.token %>">No</a>
</p>
